<ion-view title="Add New Action" ng-controller="addAction">
	<ion-content>
		<form name="addActionForm" ng-init="setFormScope(this)" data-ng-submit="actionSubmit()">
			<div class="list" style="background:#ffffff;">
				<div class="item item-divider">
				Action Info
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Name</span>
					<input type="text" placeholder="Name" ng-model="newaction.name">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
					Action Type
					</div>
					<select ng-model="newaction.type">
						<option value="range">Range</option>
						<option value="toggle">Toggle</option>
					</select>
				</label>
				<div ng-if="newaction.type == 'range'">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Default Value</span>
						<input type="number" placeholder="50" ng-model="newaction.value">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Min Value</span>
						<input type="number" placeholder="0" ng-model="newaction.minValue">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Max Value</span>
						<input type="number" placeholder="100" ng-model="newaction.maxValue">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Value Units (%, degrees, L, etc.)</span>
						<input type="text" placeholder="%" ng-model="newaction.units">
					</label>
					<div class="item item-divider">
					Icons
					</div>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Left Icon</span>
						<input type="text" placeholder="ion-ios7-lightbulb-outline" ng-model="newaction.iconBefore">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Right Icon</span>
						<input type="text" placeholder="ion-ios7-lightbulb" ng-model="newaction.iconAfter">
					</label>
				</div>
				<div ng-if="newaction.type == 'toggle'">
					<label class="item item-input">
						<div class="input-label">
						Default State:
						</div>
					</label>
					<label class="item item-radio">
						<input type="radio" ng-model="newaction.state" value="on">
						<div class="item-content">
						On
						</div>
						<i class="radio-icon ion-checkmark"></i>
					</label>
					<label class="item item-radio">
						<input type="radio" ng-model="newaction.state" value="off">
						<div class="item-content">
						Off
						</div>
						<i class="radio-icon ion-checkmark"></i>
					</label>
				</div>
				<div class="item item-divider">
				According Device
				</div>
				<label class="item item-input item-select">
					<div class="input-label">
					Device
					</div>
					<select ng-model="newaction.deviceSelect" ng-options="device.id as device.name for device in devices"></select>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Custom Action Script</span>
					<textarea ng-model="newaction.script" rows="4" name="text" placeholder="$scope.custonFunction = function() {
    console.log('Value Change', $scope.notification.checked);
  };"></textarea>
				</label>
				<div class="item item-divider">
				Featured
				</div>
				<li class="item item-toggle">
					Featured
					<label class="toggle toggle-balanced">
						<input type="checkbox" checked ng-model="newaction.featured">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</div>
			<div class="padding">
				<button class="button button-balanced">
					Add Action
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>