<ion-view title="Dashboard" ng-controller="Dashboard">
	<ion-tabs class="nav-title-slide-ios7 tabs-striped tabs-icon-top tabs-top tabs-background-light tabs-balanced" animation="nav-title-slide-ios7">
		<ion-tab title="Home" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" href="#/route/dashboard/home">
			<ion-nav-view name="home-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Favorites" icon-on="ion-ios7-star" icon-off="ion-ios7-star-outline" href="#/route/dashboard/favorites">
			<ion-nav-view name="favorites-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Settings" icon-on="ion-ios7-settings-strong" icon-off="ion-ios7-settings" href="#/route/dashboard/settings">
			<ion-nav-view name="settings-tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>