<ion-view title="Locations">
	<ion-content class="padding-vertical">
		<div ng-repeat="location in locations">
			<div class="col-lg-50">
				<div class="item item-icon-left" href="#">
					<i class="icon" ng-class="location.icon"></i>
					{{ location.name }}
					<span class="item-note">
					{{ location.note }}
					</span>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>