<ion-view title="Settings">	
	<ion-content>
		<ul class="list">
			<div class="item item-divider">
				General Settings
			</div>
			<li class="item item-toggle">
				Notifications
				<label class="toggle toggle-balanced">
					<input type="checkbox" checked>
					<div class="track">
					<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">
				Location Services
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
					<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">
				Use Google Maps
				<label class="toggle toggle-balanced">
					<input type="checkbox" checked>
					<div class="track">
					<div class="handle"></div>
					</div>
				</label>
			</li>
			<label class="item item-input">
				<span class="input-label">Google Maps API Key</span>
				<input type="text" value="AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es">
			</label>
			<div class="item item-divider">
				API Settings
			</div>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
				XML
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group" checked>
				<div class="item-content">
				JSON
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
				Web API
				</div>
				<select>
					<option>SOAP</option>
					<option selected>REST</option>
				</select>
			</label>
			<div class="item item-divider">
				Notifications Settings
			</div>
			<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox" checked>
				</label>
				Urgent Alerts
			</li>
			<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox" checked>
				</label>
				Devices Notifications
			</li>
			<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox" checked>
				</label>
				Users Notifications
			</li>
			<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox">
				</label>
				Device Not Responding
			</li>
			<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox">
				</label>
				Connection Lost
			</li>
		</ul>
	</ion-content>
</ion-view>